@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

.react-html5-camera-photo > img,
.react-html5-camera-photo > video {
  max-width: 500px;
  border-radius: 5px;
}

.MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded {
  padding-top: 10px;
  padding-bottom: 10px;
}

.divTravel {
  color: #000;
  font-display: Roboto, sans-serif;
  font-size: 24px;
  padding: 15px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 600px;
  margin: auto;
}

video {
  width: 500px;
  border-radius: 5px;
  box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.5);
}
button {
  width: 80%;
  border: 0;
  margin-top: 10px;
  background: #1d2935;
  border-radius: 10px;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: background 0.5s;
}
button:hover {
  background: #161c22;
}

div .divButton {
  flex: 1;
  align-items: center;
  align-content: center;
  margin: auto 0;
  padding-left: 30%;
}

div.MuiTablePagination-actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
